<template>
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.price }}€</td>
        <td>
            <button v-on:click="remove" class="btn waves-effect waves-light red" style="margin-right: 10px"><i class="material-icons">remove</i></button>
            <button v-on:click="add" class="btn waves-effect waves-light green"><i class="material-icons">add</i></button>
        </td>
        <td>{{ ingredient.count }}</td>
    </tr>
</template>

<script>
    export default {
        name: "Ingredient",
        props: {
            'ingredient': Object
        },
        methods: {
            'add': function () {
                this.$store.commit('increment', this.ingredient.id);
            },
            'remove': function () {
                this.$store.commit('decrement', this.ingredient.id);
            }
        }
    }
</script>

<style scoped>

</style>