<template>
    <div id="app" class="container">
        <header>
            <img src="./assets/pizza-header.png" alt="Pizza">
        </header>

        <h1>Prix total : {{ $store.state.totalPrice }}€</h1>

        <div class="row">
            <table class="col m3 highlight centered">
                <thead>
                <tr>
                    <th>Pizzas disponibles</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="pizza in pizzas">
                        <td v-on:click="selectPizza(pizza)">{{ pizza.name }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="col m8 offset-m1 striped centered">
                <thead>
                <tr>
                    <th>Ingrédient</th>
                    <th>Prix</th>
                    <th>Actions</th>
                    <th>Nombre</th>
                </tr>
                </thead>
                <tbody>
                    <Ingredient v-for="ingredient in $store.state.ingredients" :ingredient="ingredient" />
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import Ingredient from './components/Ingredient.vue'

    export default {
        name: 'app',
        components: { Ingredient },
        data: function () {
            return {
                'pizzas': []
            }
        },
        methods: {
            'selectPizza': function (selectedPizza) {
                this.$store.state.ingredients.forEach(function(ingredient) {
                    ingredient.count = 0;
                    selectedPizza.ingredients.forEach(function(pizzaIngredient) {
                        if (pizzaIngredient.id === ingredient.id) {
                            ingredient.count = 1;
                        }
                    })
                });
                this.$store.commit('refreshTotalPrice');
            }
        },
        created: function () {
            this.axios.get(`https://demo4405292.mockable.io/`).then(response => {
                this.pizzas = response.data.pizzas;
                this.$store.commit('setIngredients', response.data.ingredients);
            });
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    td {
        cursor: pointer;
    }
</style>
